

<section class="top-nav">
  <div class="logo">AngularLMS</div>
</section>

<section class="side-nav">
  <div class="side-nav-container">
    <div class="user-info">
      <img src="../../assets/images/userProfile.svg" alt="" class="user-image">
      <div class="username"><strong>{{ (storeService.userInfo$ | async)?.firstName }}&nbsp;{{ (storeService.userInfo$ | async)?.lastName }}</strong></div>
      </div>
    <div>
      <div class="side-nav-item" [class.side-nav-item__active]="activeTab === 'main' && !onHover" (click)="toMain()" ><i class="fa-solid fa-house fa-sm"></i>Главная</div>
      <div class="side-nav-item" [class.side-nav-item__active]="activeTab === 'profile' && !onHover" (click)="toProfile()" ><i class="fa-regular fa-id-card fa-sm"></i>Профиль</div>
      <div class="side-nav-item" [class.side-nav-item__active]="activeTab === 'courses'  && !onHover" (click)="toCourses()"><i class="fa-solid fa-book fa-sm"></i>Курсы</div>
      <div class="side-nav-item side-nav-item__signout" [class.side-nav-item__active]="activeTab === 'signout' && !onHover" (click)="toSignout()"><i class="fa-solid fa-arrow-right-from-bracket"></i>Выйти</div>
    </div>
  </div>
</section>

<section class="main-content">
  <div *ngIf="activeTab === 'profile'">
    <p>Ваша почта: <strong>{{ (storeService.userInfo$ | async)?.email }}</strong></p>
    <p>Ваш uid: <strong>{{ (storeService.userInfo$ | async)?.uid }}</strong></p>
  </div>
  
  <app-courses *ngIf="activeTab === 'courses'"></app-courses>
</section>
  