
<section *ngIf="onCourses">
  <h2> У вас {{ (this.storeService.userCoursesList$ | async)?.length }} активных курсов</h2>
  <button (click)="toCourseCreation()">
    <i class="fa-solid fa-plus fa-sm" style="margin-right: 8px;"></i>
    Создать новый курс
  </button>
  <div class="courses-flexbox">
    <div *ngFor="let course of this.storeService.userCoursesList$ | async" class="course-card">
      <h3>{{ course.title }}</h3>
      <div class="additional-info">
        <p>Создатель: {{ course.creator }}</p>
        <p>Дата создания: {{ course.creationDate | date:'MMMM YYYY' }}</p>
      </div>
    </div>
  </div>
</section>


<section *ngIf="onCourseCreation">
  <app-new-course (returnToCourses)="toCourses()"></app-new-course>
</section>